row.digitalClock-wrapper
    h3.digitalClockTitle
        |Все думают, что придет время, а время только уходит {{dClock.test}}

    button.clicker.btn.btn-lg.btn-warning(type="button") STOP THE CLOCK
    .clock-wrapper.container-fluid
      .clock-face
      .hour-hand
      .minute-hand
      .second-hand
      .clock-center
  
