row.fun-clock-wrapper
    h3.funClockTitle
        |Все думают, что придет время, а время только уходит {{funClock.text}}

    button.clicker.btn.btn-lg.btn-warning(type="button" ng-click= "funClock.stopClock()") STOP THE CLOCK
    .clock-wrapper.container-fluid
      .clock-face
      .hour-hand
      .minute-hand
      .second-hand
      .clock-center
  
