.row.calculator-wrapper
    .col-lg-8.col-lg-offset-2
        form.calculator
            .row
                .col-lg-12
                    .input-group.input-group-lg.form-group
                        span.input-group-btn
                            button.btn.btn-default.btn-lg.btn-warning(type="button") C
                        input.form-control.numbers-field(type="text" placeholder="Enter the number")
            .row.number-buttons-row
                .col-lg-6
                    .form-group
                        .row.number-buttons-row
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") 7
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") 8
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") 9
                        .row.number-buttons-row
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") 4
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") 5
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") 6
                        .row.number-buttons-row
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") 1
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") 2
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") 3
                        .row.number-buttons-row
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") .
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") 0
                            .col-lg-4
                                button.btn.btn-lg.btn-info.number-button(type="button") More
                .col-lg-4
                    .form-group
                        .row.number-buttons-row
                            .col-lg-6
                                button.btn.btn-lg.btn-info.number-button(type="button") sin
                            .col-lg-6
                                button.btn.btn-lg.btn-info.number-button(type="button") cos
                        .row.number-buttons-row
                            .col-lg-6
                                button.btn.btn-lg.btn-info.number-button(type="button") tan
                            .col-lg-6
                                button.btn.btn-lg.btn-info.number-button(type="button") ctg
                        .row.number-buttons-row
                            .col-lg-6
                                button.btn.btn-lg.btn-info.number-button(type="button") sqrt
                            .col-lg-6
                                button.btn.btn-lg.btn-info.number-button(type="button") pow
                        .row.number-buttons-row
                            .col-lg-12
                                button.btn.btn-lg.btn-info.number-button(type="button") =
                .col-lg-2
                    .form-group
                        .row.number-buttons-row
                            .col-lg-12
                                button.btn.btn-lg.btn-info.number-button(type="button") /
                        .row.number-buttons-row
                            .col-lg-12
                                button.btn.btn-lg.btn-info.number-button(type="button") *
                        .row.number-buttons-row
                            .col-lg-12
                                button.btn.btn-lg.btn-info.number-button(type="button") -
                        .row.number-buttons-row
                            .col-lg-12
                                button.btn.btn-lg.btn-info.number-button(type="button") +