.calculator-wrapper {
    min-height: 100vh;
    padding: 25px 0;
    background: grey;
}

.enter-field {
    text-align: right;

    &:placeholder-shown {
        @extend .enter-field;
    }

}

.buttons-row {
    margin-bottom: 15px;
}

.calculator-button {
    width: 100%;
}