doctype
html(lang="en")
head
    meta(charset="UTF-8")
    title Web Organizer
    link(rel="stylesheet" type="text/css" href="./assets/css/main.css")
    script(src="./assets/js/libs.js")

body(ng-app="webOrganizer")
    a(href="#!") _Main_
    a(href="#!homePage") _Home_
    a(href="#!clock") _Digital-Clock_

    div.container-fluid
        ng-view
    script(src="./app/app.js")
